* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.oneBackground {
  background-color: #3b2f63;
  background-image: radial-gradient(
      circle at 50% top,
      rgba(84, 90, 182, 0.6) 0%,
      rgba(84, 90, 182, 0) 75%
    ),
    radial-gradient(circle at right top, #794aa2 0%, rgba(121, 74, 162, 0) 57%);
}

nav {
  display: grid;
  grid-template-columns: 1.5fr 0.8fr 1.1fr 0.7fr 0.7fr 0.7fr 0.9fr 5fr 1fr 0.7fr 0.9fr;
  gap: 1%;
  align-items: center;
  padding: 1%;
}

.gridElements > a {
  text-decoration: none;
  color: rgba(242, 238, 255, 0.6);
  opacity: 0.5;
}

.hasDropdown > img {
  opacity: 0.5;
}

.dropDownGridElProducts {
  position: absolute;
  top: 7%;
  display: none;
  grid-template-rows: repeat(5, 1fr);
  width: fit-content;
  height: fit-content;
  background-color: white;
  border-radius: 4px;
  min-width: 200px;
}

.gridProd {
  font-size: 14px;
  font-weight: 400;
  padding-top: 8px;
  padding-left: 6px;
  padding-bottom: 8px;
  display: grid;
  grid-template-columns: 0.4fr 1.1fr 0.1fr;
}

.gridProd > img {
  max-height: 30px;
}

.gridProd > img,
.gridProd > p {
  align-self: center;
}

.dropDownGridElMarketplace {
  position: absolute;
  top: 7%;
  display: none;
  grid-template-rows: repeat(4, 1fr);
  width: fit-content;
  height: fit-content;
  background-color: white;
  border-radius: 4px;
  min-width: 200px;
}

.gridMarket {
  font-size: 14px;
  font-weight: 400;
  padding-top: 8px;
  padding-left: 6px;
  padding-bottom: 8px;
  display: grid;
  grid-template-columns: 0.4fr 1.2fr;
}

.gridMarket > a {
  text-decoration: none;
}

.gridMarket > img,
.gridMarket > p {
  align-self: center;
  justify-self: center;
}

.gridMarket > img {
  max-height: 30px;
}

.iconHButtons {
  height: 35vh;
  text-align: center;
  padding-top: 3%;
  color: white;
  font-size: 26px;
  font-weight: 300;
}

h5 {
  font-size: 16px;
}

input {
  cursor: text;
  height: 4vh;
  border-radius: 4px;
  border: 1px transparent solid;
  background: rgba(255, 255, 255, 0.1);
  background-image: url(media/searchIcon.png);
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: right center;
}

label {
  position: relative;
  top: 24px;
  left: 9px;
  color: white;
  font-weight: 300;
  display: inline;
}

.gridElements > button {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.gridElements > button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.threeStripes {
  display: none;
}

@media (max-width: 1100px) {
  .gridElements.media {
    display: none;
  }

  nav {
    display: grid;
    grid-template-columns: 1fr 1.5fr 0.5fr;
  }

  body {
    overflow: hidden;
  }

  .oneBackground {
    max-width: 100%;
    overflow: hidden;
  }

  .iconHButtons {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh;
  }

  .threeStripes {
    display: block;
  }

  .threeStripes > img {
    height: 40px;
  }
}
